subject
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
	  Hey {{ name }} this is just a simple test with a link pointing to the <a href="{{ site.base_url }}">site</a>.
	</body>
</html>
