{% extends '../layout.html' %}

{% block subject %}{{ "Database backup statistics on %s"|__(site.server_name) }}{% endblock %}

{% block content %}
{{ "Dear admin,"|__ }}<br><br>
{{ "Database backup activity has been carried out with the following statistics:"|__}}<br>

<pre>
{{ stats|json(4) }}
</pre>

{% endblock %}
