{% extends '../layout.html' %}

{% block subject %}{{ "Database storage warning"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>
{{ "This is a notification email, the current storage consumption of your databases is above the warning threshold."|__}}<br>
{{ "Be aware if the limit is exceeded, write access will be revoked on your databases."|__}}<br><br>

{{ "The affected webhosting package is"|__ }}: {{ wh.wh_name }}<br><br>

{{ "Should you have any questions, or you'd like to change the tech parameters of your webhosting, please don't hesitate to contact us:"|__}}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>

{% if due_date_before_write_revocation %}

{{ "Please note that the system is currently not configured to actually revoke write permissions."|__}}<br>
{{ "The waiting period expires on"|__ }}: {{ due_date_before_write_revocation }}<br><br>

{% endif %}

{{ "Your current usage"|__ }}: {{ stats.actSizeMb }} MByte<br>
{{ "Your database quota"|__ }}: {{ stats.maxSizeMb }} MByte<br>

{% endblock %}
