{% extends '../layout.html' %}

{% block subject %}{{ "Database event"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>
{{ "This is a notification email regarding a recent database event."|__}}<br>
{{ "Write access was revoked from the following database of yours:"|__}}<br><br>

{{ "Database"|__ }}: {{ database.db_database_name }}<br>
{{ "Username"|__ }}: {{ dbuser.u_username }}<br>

{% endblock %}
