{% extends '../layout.html' %}

{% block subject %}{{ "Certificate enrolled for %s"|__(purchase.pc_subject_common_name) }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "The certificate enrollment process has been finished and a new certificate was issued with the following details:" |__ }}<br>


<table cellspacing="10">
<tr>
  <td>{{ 'Vendor'|__ }}</td><td>{{ purchase.pc_vendor }}</td>
</tr>
<tr>
  <td>{{ 'Product'|__ }}</td><td>{{ purchase.pc_product }}</td>
</tr>
<tr>
  <td>{{ 'Common name'|__ }}</td><td>{{ purchase.pc_subject_common_name }}</td>
</tr>
<tr>
  <td>{{ 'Expiration date'|__ }}</td><td>{{ purchase.pc_end }}</td>
</tr>
</table>


{{ "The certificate itself can be found among the attached files to this e-mail and is also available through our administration panel." |__ }}<br><br>


{% endblock %}
