{% extends '../layout.html' %}

{% block subject %}{{ "Certificate of %s has expired"|__(purchase.pc_subject_common_name) }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "The following certificate has expired:" |__ }}<br>


<table cellspacing="10">
<tr>
  <td>{{ 'Vendor'|__ }}</td><td>{{ purchase.pc_vendor }}</td>
</tr>
<tr>
  <td>{{ 'Product'|__ }}</td><td>{{ purchase.pc_product }}</td>
</tr>
<tr>
  <td>{{ 'Common name'|__ }}</td><td>{{ purchase.pc_subject_common_name }}</td>
</tr>
<tr>
  <td>{{ 'Expiration date'|__ }}</td><td>{{ purchase.pc_end }}</td>
</tr>
</table>


{{ "If you wish to protect your website in the future, take a look on our product catalogue on our website." |__ }}<br><br>

{% endblock %}
