{% extends '../layout.html' %}

{% block subject %}{{ "Certificate to be activated"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "The following certificate can now be activated:" |__ }}<br>

<table cellspacing="10">
<tr>
  <td>{{ 'Vendor'|__ }}</td><td>{{ purchase.pc_vendor }}</td>
</tr>
<tr>
  <td>{{ 'Product'|__ }}</td><td>{{ purchase.pc_product }}</td>
</tr>

{% if timezone %}
<tr>
  <td>{{ 'Common name'|__ }}</td><td>{{ purchase.pc_subject_common_name }}</td>
</tr>
{% endif %}

</table>

{{ "Activation can be accomplished through our administration panel in a self-service manner. In case of renewals, the expiration date of the new certificate will be calculated based on the expiration date of the original certificate (and not the time of the activation itself), so you can complete the activation process any time." |__ }}

{% endblock %}
