{% extends '../layout.html' %}

{% block subject %}{{ "Callback request"|__ }}{% endblock %}

{% block content %}
{{ "Dear admin,"|__ }}<br><br>
{{ "Callback request received from the following customer:"|__}}<br><br>
{{ "Name"|__ }}: {{ user.u_name }}<br>
{{ "Email"|__ }}: {{ user.u_primary_email }}<br>
{{ "Tel"|__ }}: {{ user.u_primary_tel }}<br>
<br><br>
{{ "Message"|__ }}: {{ message }}<br>

<br><br>
{{ "Shopping cart"|__ }}: {{ shopping_cart }}<br>

{% endblock %}
