{% extends '../layout.html' %}

{% block subject %}{{ "Email confirmation"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>

{{ "This email is about verification of your email address."|__ }}<br><br>
{{ "If it was not you requesting this action, please contact our customer service immediately:"|__ }}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>

{{ "To confirm validity of your email address, please open the following link:"|__ }}<br>
<a href="{{ site.base_url }}{{ uri }}">{{ site.base_url }}{{ uri }}</a>

{% endblock %}
