{% extends '../layout.html' %}

{% block subject %}{{ "Forgotten password"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>
{{ "Did you forget the password to your account? This email helps you recovering the access to it."|__ }}<br>
{{ "If you open the following link, you can enter our administration interface and will be able to change your password to a new one."|__ }}<br>

<b>{{ "Please note that the link below is valid for %s hours only, then access will be denied."|__(validity_hours) }}</b><br><br>
<a href="{{ site.base_url }}{{ uri }}">{{ site.base_url }}{{ uri }}</a>
<br><br>
{{ "If it was not you requesting password recovery, please contact our"|__ }} <a href="{{ site.customer_service_url }}">{{ "customer service"|__ }}</a> {{ "as soon as possible!"|__ }}
{% endblock %}
