{% extends '../layout.html' %}

{% block subject %}{{ "Notification about successful login"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>

{{ "This is a notification email about <b>successful</b> login events to your account"|__}}:<br><br>

<table cellspacing="10">
<thead>
<tr>
  <th>{{ 'Timestamp'|__ }}</th>
  <th>{{ 'Subsystem'|__ }}</th>
  <th>{{ 'IP address'|__ }}</th>
  <th>{{ 'Country'|__ }}</th>
  <th>{{ 'Username'|__ }}</th>
  <th>{{ 'Client application'|__ }}</th>
</tr>
</thead>
<tbody>


{% for l in data %}
<tr>
  <td>{{ l.l_timestamp }}</td>
  <td>{{ l.l_subsystem }}</td>
  <td>{{ l.l_ip }}</td>
  <td>{{ l.l_country }}</td>
  <td>{{ l.l_username }}</td>  
  <td>{{ l.l_agent }}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% if timezone %}
{{ "The timestamps in the table above are in the following timezone"|__}}: {{ timezone }}<br><br>
{% endif %}


{% endblock %}
