{% extends '../layout.html' %}

{% block subject %}{{ "Notification about unsuccessful login"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>

{{ "This is a notification email about <b>unsuccessful</b> login attempts to your account"|__}}:<br><br>

{% if data.c > 1 %}


<table cellspacing="10">
<tr>
  <td>{{ 'First attempt'|__ }}</td><td>{{ data.mints }}</td>
</tr>
<tr>
  <td>{{ 'Last attempt'|__ }}</td><td>{{ data.maxts }}</td>
</tr>
<tr>
  <td>{{ 'Number of attempts'|__ }}</td><td>{{ data.c }}</td>
</tr>
</table>

{% else %}

<table>
<thead>
<tr>
  <th>{{ 'Timestamp'|__ }}</th>
  <th>{{ 'Subsystem'|__ }}</th>
  <th>{{ 'IP address'|__ }}</th>
  <th>{{ 'Country'|__ }}</th>
  <th>{{ 'Username'|__ }}</th>  
  <th>{{ 'Client application'|__ }}</th>
</tr>
</thead>
<tbody>

<tr>
  <td>{{ data.l_timestamp }}</td>
  <td>{{ data.l_subsystem }}</td>
  <td>{{ data.l_ip }}</td>
  <td>{{ data.l_country }}</td>
  <td>{{ data.l_username }}</td>
  <td>{{ data.l_agent }}</td>
</tr>

</tbody>
</table>

{% endif %}


{% if timezone %}
{{ "The timestamps in the table above are in the following timezone"|__}}: {{ timezone }}<br><br>
{% endif %}


{% endblock %}
