{% extends '../layout.html' %}

{% block subject %}{{ "Primary email has changed"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>

{{ "This is a notification email, the primary email address of your account has changed."|__ }}<br><br>

{{ "Old email address"|__ }}: {{ user.old_primary_email }}<br>
{{ "New email address"|__ }}: {{ user.u_primary_email }}<br>

{{ "This also means you need to use your new email address when logging in to the administration interface."|__ }}<br><br>

{{ "If it was not you requesting this action, please contact our customer service immediately:"|__ }}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>

{% endblock %}
