{% extends '../layout.html' %}

{% block subject %}{{ "Registration email"|__ }}{% endblock %}

{% block content %}
{{ "Dear %s,"|__(user.u_name) }}<br><br>
{{ "Thank you for trusting us and choosing our service to host your web application!"|__ }}<br>
{{ "We created an account in the system for you with the following details:"|__}}<br><br>
{{ "Name"|__ }}: {{ user.u_name }}<br>
{{ "Email"|__ }}: {{ user.u_primary_email }}<br>
{{ "Password"|__ }}: ** {{ "not disclosed due to security reasons"|__ }} **<br>
<br><br>
{{ "You can login to our administration interface via the following link"|__}}:
<a href="{{ site.base_url }}">{{ site.base_url }}</a>

<br><br>

{{ "To confirm validity of your email address, please open the following link:"|__ }}<br>
<a href="{{ site.base_url }}{{ uri }}">{{ site.base_url }}{{ uri }}</a>

{% endblock %}
