{% extends '../layout.html' %}

{% block subject %}{{type}}: {{ "MonsterCloud API event escalation"|__ }}{% endblock %}

{% block content %}
{{ "Dear admin,"|__ }}<br><br>
{{ "There was an important event in the following MonsterCloud API subsystem that needs your attention:"|__}}<br><br>
<pre>
{{ events|json(4) }}
</pre>

{% endblock %}
