{% extends '../layout.html' %}

{% block subject %}{{ "MonsterCloud API event escalation"|__ }}{% endblock %}

{% block content %}
{{ "Dear admin,"|__ }}<br><br>
{{ "There was an important event in the following MonsterCloud API subsystem that needs your attention:"|__}}<br><br>
{{ "Subsystem"|__ }}: {{ subsystem }}<br>
{{ "Exception"|__ }}: {{ exception }}<br>
{{ "Other info"|__ }}: {{ other }}<br>

{% endblock %}
