{% extends '../layout.html' %}

{% block subject %}{{ "E-mail quota exceeded"|__ }}{% endblock %}

{% block content %}
{{ "Dear Customer,"|__ }}<br><br>

{{ "This is a notification letter letting you know that the e-mail account %s has reached the maximum number of outgoing e-mails that is enforced by the current webstorage plan."|__(emailAccount) }}<br><br>

<table cellspacing="10">
<tr>
  <td>{{ 'Maximum number of outgoing e-mails in the window'|__ }}:</td><td>{{ quotaLimit }}</td>
</tr>
</table>

{{ "This effectively menans the affected e-mail address won't be able to submit new e-mails to be delivered, our mail system components will refuse it."|__ }}<br>

{{ "The restriction is rolling window based, meaning sending e-mails will be possible automatically again, once the outgoing peak will fall outside (this is typically 24 hours)."|__ }}<br>

{{ "The owner of the webstore can check the list of outgoing e-mails that was accounted by our system via the administration control panel:"|__ }}<br>
<a href="{{ site.base_url }}">{{ site.base_url }}</a><br><br>

{{ "If you have any questions or prefer to change your webstorage plan, get in touch with us via our customer service portal:"|__ }}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
