{% extends '../layout.html' %}

{% block subject %}{{ "Email confirmation"|__ }}{% endblock %}

{% block content %}
{{ "Dear Customer,"|__ }}<br><br>

{{ "Our system has received a request to configure your e-mail address (%s) as an alias for %s. This notification e-mail is about to verify your e-mail address and ask for your confirmation."|__(el_destination, el_alias) }}<br><br>

{{ "To confirm validity of your email address, you need to enter the following token at the administration panel:"|__ }}<br>



<table cellspacing="10">
<tr>
  <td>{{ 'Alias e-mail address'|__ }}</td><td>{{ el_alias }}</td>
</tr>
<tr>
  <td>{{ 'Destination e-mail address'|__ }}</td><td>{{ el_destination }}</td>
</tr>
<tr>
  <td>{{ 'Token'|__ }}</td><td>{{ el_verification_token }}</td>
</tr>
<tr>
  <td>{{ 'Expires'|__ }}</td><td>{{ el_verification_token_expires }}</td>
</tr>
</table>


{{ "If it was not you requesting this action, please contact our customer service immediately:"|__ }}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
