{% block subject %}{% endblock %}
<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
{% block head %}  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

</head>
{% block header %}

<body style='{{ site.style.body }}'>
<div style='margin:8px;'>

<div><a href="{{ site.base_url }}" id="monster-logo" style='{{ site.style.logo }}'></a></div>
<div id="content" style='{{ site.style.content }}'>
{% endblock %}

{% block content %}{% endblock %}


{% block footer %}
<br><br>
{{ "Have a nice day!"|__ }}<br>
<a href="{{ site.base_url }}">{{ site.short_name }}</a><br>
{% if site.short_name %}
<a href="{{ site.facebook_url }}">{{ site.short_name }} @ Facebook</a>
{% endif %}

</div>
</div>
</body>
{% endblock %}
</html>
