{% extends '../layout.html' %}

{% block subject %}{{ "Changed files on webhosting"|__ }}{% endblock %}

{% block content %}

{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "This notification email is sent by the content monitoring subsystem of our service, that is scheduled to be executed to look for changes every night. We'd like to draw your attention to some script files that have changed on your webhosting."|__}}<br><br>

{{ "The affected webhosting package is"|__ }}: {{ wh_name }}@{{ server }}<br>
{{ "Number of file differences: %s"|__(allChanges)}}<br><br>

{{ "Some example changes:"|__}}<br><br>

{% for l in changedScripts %}

{{ l }}<br>

{% endfor %}

<br>

{{ "The complete list can be found inside your webhosting storage in %s"|__(diffFilename) }}<br><br>

{{ "Should you have any questions, please don't hesitate to contact us:"|__}}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
