{% extends '../layout.html' %}

{% block subject %}{{ "ACTION REQUIRED: Webstore was selected for relocation"|__ }}{% endblock %}

{% block content %}

{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "In order to improve the quality of our services, one of your webstores was selected for relocation: a different host will serve the associated website(s), databases and e-mail boxes in the future."|__}}<br><br>

<table cellspacing="10">
<tr>
  <td>{{ 'The affected webstore ID'|__ }}:</td><td><b>{{ target_webstore_id }}</b></td>
</tr>
<tr>
  <td>{{ 'The affected webstore name'|__ }}:</td><td><b>{{ target_webstore_name }}</b></td>
</tr>
<tr>
  <td>{{ 'The current server'|__ }}:</td><td>{{ current_server }}</td>
</tr>
<tr>
  <td>{{ 'The server after relocation'|__ }}:</td><td><b>{{ future_server }}</b></td>
</tr>
<tr>
  <td>{{ 'The scheduled time of the operation'|__ }}:</td><td><b>{{ schedule }}</b></td>
</tr>
<tr>
  <td>{{ 'The business justification of the change'|__ }}:</td><td><b>{{ business_justification }}</b></td>
</tr>
</table>

<b>{{"Websites"|__}}</b><br>
{{"The websites served on this webstore will be transferred by our colleagues to the selected new destination. The operation is supposed to be completely transparent and does not need any changes in the configuration."|__}}<br><br>

<b>{{"FTP accounts"|__}}</b><br>
{{"If you have any FTP accounts configured, you will need to replace the hostname where you connect to from %s to <b>%s</b>."|__(current_server, future_server)}}<br><br>

<b>{{"Databases"|__}}</b><br>
{{"If you relied on the phpMyAdmin application to manage your databases, you will be able to access it via a new address in the future"|__}}: <a href="{{ phpmyadmin_url }}">phpMyAdmin</a><br><br>

<b>{{"E-mail accounts"|__}}</b><br>

{{ "After the relocation activites have been carried out by our collegues, the mailbox connection details <b>in your email application(s) will require client side changes</b>. This includes all clients where you access this mailbox, including desktop applications and smartphones as well. The only change you are expected to make in the settings of these applications is the hostname where the client connects to, replacing the settings from the old (<b>%s</b>) to the new (<b>%s</b>) hostname. This needs to be done for both the incoming (POP3 or IMAP) and outgoing (SMTP) settings. The username and password options shall remain intact." |__(current_server, future_server) }}<br><br>

{{"If you are a user of the RoundCube webmail application, you can access it via one more address in the future"|__}}: <a href="{{ roundcube_url }}">{{ roundcube_url }}</a><br><br>

{{ "If you need further help, please first take a look on our dedicated help page about the most popular e-mail client applications" |__ }}: <a href="{{site.base_url}}/index.php?op=ng&server={{future_server}}">{{ 'Dedicated e-mail help site'|__ }}</a><br><br>




{{ "Should you have any questions, please don't hesitate to contact us:"|__}}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
