{% extends '../layout.html' %}

{% block subject %}{{ "Webstore relocation has been finished"|__ }}{% endblock %}

{% block content %}

{{ "Dear %s,"|__(account.u_name) }}<br><br>

{{ "In order to improve the quality of our services, one of your webstores has been relocated. Our colleagues have finished transferring the data to the associated new server, so your website(s), databases and e-mail boxes are now being served by a different host."|__}}<br><br>

<table cellspacing="10">
<tr>
  <td>{{ 'The affected webstore ID'|__ }}:</td><td><b>{{ target_webstore_id }}</b></td>
</tr>
<tr>
  <td>{{ 'The affected webstore name'|__ }}:</td><td><b>{{ target_webstore_name }}</b></td>
</tr>
<tr>
  <td>{{ 'The old server'|__ }}:</td><td>{{ old_server }}</td>
</tr>
<tr>
  <td>{{ 'The new server'|__ }}:</td><td><b>{{ new_server }}</b></td>
</tr>
<tr>
  <td>{{ 'The business justification of the change'|__ }}:</td><td><b>{{ business_justification }}</b></td>
</tr>
</table>

<b>{{"Websites"|__}}</b><br>
{{"The websites served on this webstore were transferred by our colleagues to the selected new destination. No changes in your web applications are expected, the behaviour of your website should be identical."|__}}<br><br>

<b>{{"FTP accounts"|__}}</b><br>
{{"If you have any FTP accounts configured, you need to replace the hostname where you connect to from %s to <b>%s</b>."|__(old_server, new_server)}}<br><br>

<b>{{"Databases"|__}}</b><br>
{{"If you relied on the phpMyAdmin application to manage your databases, you can access it via a new address from now on"|__}}: <a href="{{ phpmyadmin_url }}">phpMyAdmin</a><br><br>

<b>{{"E-mail accounts"|__}}</b><br>

{{ "As we've already announced, the mailbox connection details <b>in your email application(s) require client side changes</b>. This includes all clients where you access this mailbox, including desktop applications and smartphones as well. The only change you are expected to make in the settings of these applications is the hostname where the client connects to, replacing the settings from the old (<b>%s</b>) to the new (<b>%s</b>) hostname. This needs to be done for both the incoming (POP3 or IMAP) and outgoing (SMTP) settings. The username and password options shall remain intact." |__(old_server, new_server) }}<br><br>

{{"If you are a user of the RoundCube webmail application, you can access it via one more address from now on"|__}}: <a href="{{ roundcube_url }}">{{ roundcube_url }}</a><br><br>

{{ "If you need further help, please first take a look on our dedicated help page about the most popular e-mail client applications" |__ }}: <a href="{{site.base_url}}/index.php?op=ng&server={{new_server}}">{{ 'Dedicated e-mail help site'|__ }}</a><br><br>



{{ "Should you have any questions, please don't hesitate to contact us:"|__}}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
