{% extends '../layout.html' %}

{% block subject %}{{ "Webstore relocation has been finished"|__ }}{% endblock %}

{% block content %}

{{ "Dear Customer,"|__ }}<br><br>


{{ "In order to improve the quality of our services, the webstore that hosts the mailbox that you're currently reading, has been relocated. The activity has been carried out by our collegues, the duties behind your email activity is being served by a different host from now on."|__}}<br><br>

<table cellspacing="10">
<tr>
  <td>{{ 'The affected e-mail account'|__ }}:</td><td><b>{{ target_email_address }}</b></td>
</tr>
<tr>
  <td>{{ 'The old server'|__ }}:</td><td>{{ old_server }}</td>
</tr>
<tr>
  <td>{{ 'The new server'|__ }}:</td><td><b>{{ new_server }}</b></td>
</tr>
<tr>
  <td>{{ 'The business justification of the change'|__ }}:</td><td><b>{{ business_justification }}</b></td>
</tr>
</table>

{{ "As we've already announced, the mailbox connection details <b>in your email application(s) require client side changes</b>. This includes all clients where you access this mailbox, including desktop applications and smartphones as well. The only change you are expected to make in the settings of these applications is the hostname where the client connects to, replacing the settings from the old (<b>%s</b>) to the new (<b>%s</b>) hostname. This needs to be done for both the incoming (POP3 or IMAP) and outgoing (SMTP) settings. The username and password options shall remain intact." |__(old_server, new_server) }}<br><br>

{{"If you are a user of the RoundCube webmail application, you can access it via one more address from now on"|__}}: <a href="{{ roundcube_url }}">{{ roundcube_url }}</a><br><br>


{{ "If you need further help, please first take a look on our dedicated help page about the most popular e-mail client applications" |__ }}: <a href="{{site.base_url}}/index.php?op=ng&state=mc-email-help&server={{new_server}}&email={{target_email_address}}">{{ 'Dedicated e-mail help site'|__ }}</a><br><br>




{{ "Should you have any questions, please don't hesitate to contact us:"|__}}<br>
<a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a><br><br>


{% endblock %}
