{% extends '../layout.html' %}

{% block content %}
{{ "Dear %s,"|__(account.u_name) }}<br><br>

{% block intro %}{% endblock %}

<table cellspacing="10">

<tr>
  <td>{{ 'Server'|__ }}</td><td>{{ server }}</td>
</tr>

<tr>
  <td>{{ 'Name of the package'|__ }}</td><td>{{ wh.wh_name }}</td>
</tr>

<tr>
  <td>{{ 'Available disk space limit'|__ }}</td><td>{{ stats.maxSizeMb }} MByte</td>
</tr>
<tr>
  <td>{{ 'Current tally (sum)'|__ }}</td><td>{{ wh.wh_tally_sum_storage_mb }} MByte</td>
</tr>

{% if wh.wh_tally_web_storage_mb %}

<tr>
  <td>{{ 'Current tally (web)'|__ }}</td><td>{{ wh.wh_tally_web_storage_mb }} MByte</td>
</tr>

{% endif %}

{% if wh.wh_tally_mail_storage_mb %}

<tr>
  <td>{{ 'Current tally (mail)'|__ }}</td><td>{{ wh.wh_tally_mail_storage_mb }} MByte</td>
</tr>

{% endif %}

{% if wh.wh_tally_db_storage_mb %}

<tr>
  <td>{{ 'Current tally (database)'|__ }}</td><td>{{ wh.wh_tally_db_storage_mb }} MByte</td>
</tr>

{% endif %}

</table>


{% block outro %}{% endblock %}

<div>{{"We request you to revise the files stored on your web storage; please remove the old files that are not needed anymore. It is also possible to increase the configured web storage limitations, for a custom quote price please contact our customer service:"|__}}</div><br>

<div><a href="{{ site.customer_service_url }}">{{ site.customer_service_url }}</a></div><br><br>


<div>{{"We thank you for your understanding and cooperation"|__}}</div>


{% endblock %}
