{% extends '../layout.html' %}

{% block content %}

{{ "Dear %s,"|__(account.u_name) }}<br><br>

{% block intro %}{% endblock %}

<table cellspacing="10">
<tr>
  <td>{{ 'Server'|__ }}</td><td>{{ server }}</td>
</tr>

<tr>
  <td>{{ 'Name of the package'|__ }}</td><td>{{ webhosting.wh_name }}</td>
</tr>
<tr>
  <td>{{ 'Template of the package'|__ }}</td><td>{{ webhosting.wh_template }}</td>
</tr>

</table>

{% block outro %}{% endblock %}

{% endblock %}
