{% extends 'webhosting-event-base.html' %}

{% block subject %}{{ "Webhosting reactivated: %s"|__(webhosting.wh_name) }}{% endblock %}

{% block intro %}

{{ "The following webhosting package has been reactivated in our service:"|__}}<br>

{% endblock %}

{% block outro %}

{{ "The service can be managed over our administration panel:"|__}}<br>
<a href="{{ site.base_url }}">{{ site.base_url }}{{ uri }}</a><br><br>

{{ "Thank you for your order!"|__}}

{% endblock %}
