{% extends 'webhosting-event-base.html' %}

{% block subject %}{{ "Webhosting deactivated: %s"|__(webhosting.wh_name) }}{% endblock %}

{% block intro %}

{{ "The following webhosting package has been deactivated in our service:"|__}}<br>

{% endblock %}

{% block outro %}

{{ "This means your website no longer accepts visitor connections, neither sending nor receiving e-mails messages is possible."|__}}

{{ "The service will be reactivated again after the pending invoices have been settled."|__}}

{{ "You can find more information through our administration panel:"|__}}

<a href="{{ site.base_url }}">{{ site.base_url }}{{ uri }}</a><br><br>


{% endblock %}
